/* navbar */
.navbar {
    background-color: transparent;
    transition: top 0.3s;
}

.active_nav {
    opacity: 0.0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
    transition: 0.3s ease
}

#list {
    font-family: Nunito;
    font-size: larger;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;
    transition: 0.5s ease;
}

#list:hover {
    border-bottom: 4px solid white;
}

/* banner */
.carousel-inner img {
    width: 100%;
    height: 90%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
}

#baner {
    font-family: "Playfair Display";
    color: white;
}

#btnlearn {
    font-family: "Playfair Display";
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    /* border-style: none; */
}

#btnlearn:hover {
    border-bottom: 4px solid white;
}

/* default */
#headinglist {
    font-size: xx-large;
    font-family: "Nunito";
    font-weight: bold;
}

p {

    font-size: x-large;
    font-family: "Nunito";
}

i {
    font-size: xx-large;
}

#arrow {
    font-size: 3rem;
    color: black;
}

#btnproduct {
    font-size: x-large;
    background-color: white;
    border-bottom: 4px solid dimgray;
}

#btnproduct:hover {
    border: 4px solid dimgray;
}

#whatsapp {
    font-size: x-large;
    padding-left: 2vh;
    color: #00E676;
}


#name {
    font-family: "Nunito";
    color: #8AAB28;
}

#level {
    font-family: "Nunito";
}

#desk {
    font-family: "Nunito";
}

#bi {
    color: black;
}

#contact {
    background-color: #F2F6EA;
}

#h3contact {
    font-size: xx-large;
    font-family: "Nunito";
}

#headingcontact {
    font-family: "Sedgwick Ave Display";
    font-size: xx-large;
}