/* navbar */
.navbar {
    background-color: transparent;
    transition: top 0.3s;
}

#logo {
    height: 50px;
    width: 170px;
}

.active_nav {
    opacity: 0.0;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
    transition: 0.3s ease
}

#list {
    font-family: Nunito;
    font-size: larger;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0px solid transparent;
    transition: 0.5s ease;
}

#list:hover {
    border-bottom: 4px solid white;
}

#toggle {
    color: white;
}



/* banner */
.carousel-inner img {
    width: 100%;
    height: 90%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
}


#baner1 {
    font-family: "Playfair Display";
    color: white;
}

#baner2 {
    font-family: "Playfair Display";
    color: white;
}

#btnlearn {
    font-family: "Playfair Display";
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-top: 5rem;
    /* border-style: none; */
}

#btnlearn:hover {
    border-bottom: 4px solid white;
}

/* default */
#headinglist {
    font-size: xx-large;
    font-family: "Nunito";
    font-weight: bold;
}

/* 
p {
    font-size: x-large;
    font-family: "Nunito";
} */

i {
    font-size: xx-large;
}

#arrow {
    font-size: 3rem;
    color: black;
}

#btnproduct {
    font-size: x-large;
    background-color: white;
    border: none;
    box-shadow: 0px 3px 5px grey;
}

#btnproduct:hover {
    border: 2px solid dimgray;
}

#whatsapp {
    font-size: x-large;
    padding-left: 2vh;
    color: #00E676;
}

#rowbtn {
    margin-top: 5rem;
}

#name {
    font-family: "Nunito";
    color: #8AAB28;
}

#level {
    font-family: "Nunito";
}

#desk {
    font-family: "Nunito";
}

#bi {
    color: black;
}

#contact {
    background-color: #F2F6EA;
}

#h3contact {
    font-size: xx-large;
    font-family: "Nunito";
}

#headingcontact {
    font-family: "Sedgwick Ave Display";
    font-size: xx-large;
}

#submit {
    background-color: #F2F6EA;
    margin-bottom: 20px;
    font-family: "Nunito";
    color: black;
    box-shadow: 0px 3px 5px grey;
}

#submit:hover {
    border: 2px solid dimgray;
}

footer {

    padding: 10px;
    background-color: #8AAB28;
}

a {
    text-decoration: none;
}

textarea {
    height: 200px;
}

#footer {
    font-family: "Nunito";
}

/* responsive  */

@media (max-width: 991.98px) {

    #toggle {
        font-size: xx-large;
    }

    #list {
        font-size: large;
    }

    #headinglist {
        font-size: larger;
    }



    #baner1 {
        font-size: small;
    }

    #baner2 {
        font-size: large;
    }

    #btnlearn {
        font-size: large;
        margin-top: 2rem;
        border-radius: 12px;
    }

    p {
        font-size: large;
    }

    i {
        font-size: x-large;
    }

    #arrow {
        font-size: 2rem;
    }

    #btnproduct {
        font-size: large;
    }

    #whatsapp {
        display: none;
    }

    #hide {
        display: none;
    }

    #rowbtn {
        margin-top: 3vh;
    }

    #h3contact {
        font-size: small;
    }

    #headingcontact {
        font-size: small;
    }

    h3 {
        font-size: larger;
    }

    h4 {
        font-size: large;
    }

    #desk {
        font-size: large;
    }

    textarea {
        height: 150px;
    }

    textarea::placeholder {
        font-size: large;
    }

    input::placeholder {
        font-size: large;
    }

    #footer {
        font-size: large;
    }
}



@media (max-width: 767.98px) {
    #logo{
        height: 40px;
    }
    #toggle {
        font-size: large;
    }

    #list {
        font-size: small;
    }

    #headinglist {
        font-size: large;
    }



    #baner1 {
        font-size: x-small;
    }

    #baner2 {
        font-size: small;
    }

    #btnlearn {
        font-size: small;
        margin-top: 2rem;
        border-radius: 12px;
    }

    p {
        font-size: x-small;
    }

    i {
        font-size: larger;
    }

    #arrow {
        font-size: 1.5rem;
    }

    #btnproduct {
        font-size: small;
    }

    #whatsapp {
        display: none;
    }

    #rowbtn {
        margin-top: 2vh;
    }

    #h3contact {
        font-size: x-small;
    }

    #headingcontact {
        font-size: x-small;
    }

    h3 {
        font-size: large;
    }

    h4 {
        font-size: small;
    }

    #desk {
        font-size: small;
    }

    textarea {
        height: 100px;
    }

    textarea::placeholder {
        font-size: small;
    }

    input::placeholder {
        font-size: small;
    }

    #footer {
        font-size: small;
    }
}


@media (max-width: 575.98px) {
    #logo{
        height: 30px;
        width: 160px;
    }
    #toggle {
        font-size:x-small;
    }

    #list {
        font-size: x-small;
    }

    #headinglist {
        font-size: small;
    }



    #baner1 {
        font-size: xx-small;
    }

    #baner2 {
        font-size: x-small;
    }

    #btnlearn {
        font-size: x-small;
        margin-top: 1rem;
        border-radius: 10px;
    }

    p {
        font-size: 7px;
    }

    i {
        font-size: small;
    }

    #arrow {
        font-size: 1rem;
    }

    #btnproduct {
        font-size: x-small;
    }

    #whatsapp {
        display: none;
    }

    #rowbtn {
        margin-top: 1vh;
    }

    #h3contact {
        font-size: xx-small;
    }

    #headingcontact {
        font-size: xx-small;
    }

    h3 {
        font-size: small;
    }

    h4 {
        font-size: x-small;
    }

    #desk {
        font-size: xx-small;
    }

    textarea {
        height: 100px;
    }

    textarea::placeholder {
        font-size: x-small;
    }

    input::placeholder {
        font-size: x-small;
    }

    #footer {
        font-size: x-small;
    }
}

@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) {}