#list {
    font-size: larger;
}

#headinglist {
    font-size: xx-large;
}

p {
    font-size: x-large;
}

i{
    font-size: xx-large;
}

#arrow {
    font-size: 3rem;
}

#btnproduct {
    font-size: x-large;
}

#whatsapp {
    font-size: x-large;
}

#h3contact {
    font-size: xx-large;
}

#headingcontact {
    font-size: xx-large;
}